

/*================== COLOR THEME CHANGES ====================== */



.rightparttext .bigtext { color:#252525;} 

.termcondition a { color:#252525;}

.buttondiv  .btn_big { border-color: #252525; color: #252525;} 

/*.termcondition p { color:#252525;}*/

.eventblock h3 a {color:#252525;} 

.eventblock h4 {color:#252525;} 

.maintitle {color:#252525;} 



a.terms-textarrow { background-image:url(../images/tearm-arrow-down-d.png);}

a.textarrow-up { background-image:url(../images/tearm-arrow-up-d.png);}



a.button:link, a.button:visited, .button { color:#252525; background:#fff; border:solid 1px #252525;}

a.button:hover, .button:hover, .btn_big:hover { background:#252525 ; color:#fff;}


.cinemaimgdiv .titleblur { border-bottom-color:#252525;}


/*================== COLOR THEME CHANGES END ====================== */

.coming-soonimage { background-image:url(../images/coming-soon-bandD.png);}

.prizedrawimage { background-image:url(../images/prizedraw-bandD.png);}

.competitionimage { background-image:url(../images/competition-bandD.png);}