
/*================== COLOR THEME CHANGES ====================== */

.rightparttext .bigtext { color:#CC901F;} 
.termcondition a { color:#CC901F;}
.buttondiv  .btn_big { border-color: #CC901F; color: #CC901F;} 
.termcondition p { color:#CC901F;}


a.button:link, a.button:visited, .button { color:#CC901F; background:#fff; border:solid 1px #CC901F;}
a.button:hover, .button:hover { background:#CC901F ; color:#fff;}


/*================== COLOR THEME CHANGES END ====================== */


.prizedrawimage { background-image:url(../images/prizedraw-bandI.png);}
.competitionimage { background-image:url(../images/competition-bandI.png);}
