

/*================== COLOR THEME CHANGES ====================== */



.rightparttext .bigtext { color:#6E787B;} 

.termcondition a { color:#6E787B;}

.buttondiv  .btn_big { border-color: #6E787B; color: #6E787B;} 

/*.termcondition p { color:#6E787B;}*/

.eventblock h3 a {color:#6E787B;} 

.eventblock h4 {color:#6E787B;} 

.maintitle {color:#6E787B;} 



a.terms-textarrow { background-image:url(../images/tearm-arrow-down-a.png);}

a.textarrow-up { background-image:url(../images/tearm-arrow-up-a.png);}



a.button:link, a.button:visited, .button { color:#6E787B; background:#fff; border:solid 1px #6E787B;}

a.button:hover, .button:hover, .btn_big:hover { background:#6E787B ; color:#fff;}



.cinemaimgdiv .titleblur { border-bottom-color:#6E787B;}


/*================== COLOR THEME CHANGES END ====================== */

.coming-soonimage { background-image:url(../images/coming-soon-bandA.png);}

.prizedrawimage { background-image:url(../images/prizedraw-bandA.png);}

.competitionimage { background-image:url(../images/competition-bandA.png);}
