
/*================== COLOR THEME CHANGES ====================== */

.rightparttext .bigtext { color:#CC901F;} 
.termcondition a { color:#CC901F;}
.buttondiv  .btn_big { border-color: #CC901F; color: #CC901F;} 
/*.termcondition p { color:#CC901F;}*/

a.terms-textarrow { background-image:url(../images/tearm-arrow-down-e.png);}
a.textarrow-up { background-image:url(../images/tearm-arrow-up-e.png);}

a.button:link, a.button:visited, .button { color:#CC901F; background:#fff; border:solid 1px #CC901F;}
a.button:hover, .button:hover, .btn_big:hover { background:#CC901F ; color:#fff;}

/*================== COLOR THEME CHANGES END ====================== */
.coming-soonimage { background-image:url(../images/coming-soon-bandE.png);}
.prizedrawimage { background-image:url(../images/prizedraw-bandE.png);}
.competitionimage { background-image:url(../images/competition-bandE.png);}
