

/*================== COLOR THEME CHANGES ====================== */



.rightparttext .bigtext { color:#9F6802;} 

.termcondition a { color:#9F6802;}

.buttondiv  .btn_big { border-color: #9F6802; color: #9F6802;} 

/*.termcondition p { color:#9F6802;}*/

.eventblock h3 a {color:#9F6802;} 

.eventblock h4 {color:#9F6802;} 

.maintitle {color:#9F6802;} 



a.terms-textarrow { background-image:url(../images/tearm-arrow-down-b.png);}

a.textarrow-up { background-image:url(../images/tearm-arrow-up-b.png);}



a.button:link, a.button:visited, .button { color:#9F6802; background:#fff; border:solid 1px #9F6802;}

a.button:hover, .button:hover, .btn_big:hover { background:#9F6802 ; color:#fff;}


.cinemaimgdiv .titleblur { border-bottom-color:#9F6802;}


/*================== COLOR THEME CHANGES END ====================== */

.coming-soonimage { background-image:url(../images/coming-soon-bandB.png);}

.prizedrawimage { background-image:url(../images/prizedraw-bandB.png);}

.competitionimage { background-image:url(../images/competition-bandB.png);}


