

/*================== COLOR THEME CHANGES ====================== */



.rightparttext .bigtext { color:#6E6C89;} 

.termcondition a { color:#6E6C89;}

.buttondiv  .btn_big { border-color: #6E6C89; color: #6E6C89;} 

/*.termcondition p { color:#6E6C89;}*/

.eventblock h3 a {color:#6E6C89;} 

.eventblock h4 {color:#6E6C89;} 

.maintitle {color:#6E6C89;} 



a.terms-textarrow { background-image:url(../images/tearm-arrow-down-c.png);}

a.textarrow-up { background-image:url(../images/tearm-arrow-up-c.png);}



a.button:link, a.button:visited, .button { color:#6E6C89; background:#fff; border:solid 1px #6E6C89;}

a.button:hover, .button:hover, .btn_big:hover { background:#6E6C89 ; color:#fff;}


.cinemaimgdiv .titleblur { border-bottom-color:#6E6C89;}

/*================== COLOR THEME CHANGES END ====================== */

.coming-soonimage { background-image:url(../images/coming-soon-bandC.png);}

.prizedrawimage { background-image:url(../images/prizedraw-bandC.png);}

.competitionimage { background-image:url(../images/competition-bandC.png);}