@font-face {
	font-family: SkyFont;
	src: url(https://1973584292.rsc.cdn77.org/fonts/sky/stfont.ttf);
}
@font-face {
	font-family: SkyFontMedium;
	src: url(https://1973584292.rsc.cdn77.org/fonts/sky/stfont.ttf);
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	outline: none;
	text-decoration: none;
}
a:link {
	color: #040404;
}
a:visited {
	color: #040404;
}
a:hover {
	color: #000066;
}
a:active {
	color: #040404;
}
.fullpage-content {
	margin: 0;
	padding: 20px 10px;
}
.whiteboxbg {
	margin: 0;
	padding: 0 0 20px 0;
	background: #fff;
}
.cinemaimgdiv img {
	width: 100%;
}
.eventlist {
	padding-top: 20px;
}
.eventblock {
	box-shadow: 0 0 5px #ccc;
	margin-bottom: 15px;
	padding: 0px;

	text-align: center; /*max-width: 380px;*/
	border-radius: 4px;
	overflow:hidden;
}
.eventblock .cinemaimgdiv a::after {
   content: "";
    position: absolute;
    border:4px solid rgb(188, 184, 184);
    left: 0;
    z-index: 2;
    right: 0;
    top: 0;opacity: 0.5;
    bottom: 0;

}
.eventblock .coming-soonimage, .eventblock .prizedrawimage, .eventblock .competitionimage { bottom:75px;}
.cinemaimgdiv .titleblur { position: absolute; left:0px; width:100%; right:0px; bottom: 0; overflow: hidden;  border-bottom-width:4px; border-bottom-style:solid; border-bottom-color:#000;}
/*.cinemaimgdiv .titleblur::after { width: 100%;	height: 90px;content: ""; position: absolute; bottom: -10px; left: 0; right: 0; background: inherit;	box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2); filter: blur(10px);}*/

.cinemaimgdiv .shinborder { width:100%; position:absolute; bottom:71px; opacity:0.3; height:2px; bottom:73px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&0+0,1+50,0+100 */
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */}
.eventblock:last-child {

	border-bottom: none;

}

.cinemaimgdiv img {

	width: 100%;

}

.eventblock h3 {
font-size:24px; 
	line-height:20px; 
	margin:0; 
	padding:0px 10px 0px; 
	display: flex;
	align-items: center;
	font-weight:normal;  
	text-align:left;
	width:100%; 
	box-sizing:border-box;
height: 75px; background:#000; color:#fff;
}
.eventblock h4 {
	font-size: 20px;
	margin: 0;
	padding: 20px 0 5px;
	font-weight: normal;
}
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: SkyFont, Verdana, Geneva, sans-serif;
	line-height: 22px;
	background-color: #FFF;
	color: #4c4c4c;
}
img {
	border: 0 none;
	display: block;
	height: auto;
	max-width: 100%;
}
.text-center {
	text-align: center;
}
.maintitle {
	padding-top: 20px;
	font-size: 32px;
	line-height: 36px;
	margin: 0;
	font-family: SkyFont;
	text-align: left;
	text-align: center;
}
.subheadertext {
	margin: 0;
	padding: 10px 0;
	text-align: left;
	font-size: 16px;
	font-family: SkyFont, Verdana, Geneva, sans-serif;
	line-height: 20px;
	background-color: #fff;
	color: #4A4A4A;
}
.subheadertext ul {
	list-style-position: inside;
	text-align: left;
}

.bodytext {
	margin: 0;
	padding: 0;
	/*
	font-size:16px;
 	font-family:SkyFont, Verdana, Geneva, sans-serif;
	line-height:20px;*/
	background-color: #fff;
	color: #4c4c4c;
}
.termcondition {
	padding: 0 0;
}
.termcondition p {
	font-size: 12px !important;
	font-family: SkyFont, Verdana, Geneva, sans-serif;
    font-weight: 100;
	line-height: 16px;
	display: none;
	text-align: justify;
}
.condition p {
	font-size: 11px;
	line-height: 14px;
}
.buttondiv {
	margin: 0;
	padding: 20px 0;
	text-align: center;
}
.buttondiv .btn_big {
	display: inline-block;
	border-radius: 5px;
	-webkit-appearance: none;
	width: 100% !important;
	height: 40px;
	cursor: pointer;
	background: #FFFFFF;
	font-size: 16px;
	padding: 6px;
}
.buttondiv .btn_big_grey {
	display: inline-block;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	-webkit-appearance: none;
	border-color: #4c4c4c;
	color: #4c4c4c;
	cursor: pointer;
	background: #FFFFFF;
	font-size: 16px;
	padding: 6px;
}
.spacerdiv {
	width: 100%;
	height: 5px;
	font-size: 1px;
}
.clear {
	clear: both;
}
.float_l {
	float: left;
}
.float_r {
	float: right;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
:after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
input, select, textarea {
	border-radius: 5px;
	margin: 0;
	padding: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	border: solid 1px #4c4c4c;
	background: #fff;
	color: #8d8d8d;
	font-size: 16px;
	font-family: SkyFont;
}
input {
	padding: 6px 10px;
	height: 40px;
	line-height: 40px;
}
.selectbox {
	height: 40px;
	line-height: 40px;
	width: 73%;
	padding-left: 6px;
}
input:focus, textarea:focus, select:focus {
	box-shadow: 0 0 2px #666;
}
.requiverd {
	color: red;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 20px;
}
.row:after {
	clear: both;
	display: table;
	content: " "
}
a.button:link, a.button:visited, .button, .buttondiv .btn_big {
	border: solid 1px #4c4c4c;
	border-radius: 5px;
	-webkit-appearance: none;
	cursor: pointer;
	display: block;
	font-size: 18px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	transition: all 0.2s ease-in-out 0s;
	width: 100%;
}
input.button, .btn_big {
	padding-top: 0;
}
.btn_big {
	padding-top: 0 !important;
}
a.button:hover, .button:hover, .btn_big:hover {
	background: #4c4c4c;
	color: #fff;
}
.wraper {
	max-width: 950px;
	margin: 0 auto;
	background-color: #FFFFFF;
}
.container {
	max-width: 950px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.container:after {
	clear: both;
	display: table;
	content: " "
}
.topbaner {
	margin: 0;
	padding: 0px 0 0;
}
.leftimage {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	position:relative;
}
.rightparttext {
	float: left;
	margin: 0;
	padding: 0 20px;
	width: 100%;
}
.rightparttext .bigtext {
	margin: 0;
	text-align: center;
	padding: 10px 0px 0px 0px;
	font-size: 32px;
	line-height: 36px;
}
.rightparttext p { /*font-weight:bold;*/
	line-height: 20px;
	text-align: left;
	margin: 0;
	padding: 7px 0;
	font-size: 16px;
}
.rightparttext .subp {
	color: #222222;
	line-height: 20px;
	text-align: justify;
	margin: 0;
	padding: 7px 0;
	font-size: 16px;
}
.textsection {
	margin: 0; /*padding:17px 0;*/
	border-top: solid 0px #f5f1e8;
	border-bottom: solid 0px #f5f1e8;
}
.sundaytimes {
	display: inline-block;
	margin: 10px 0 0 0;
	padding: 0;
}
.contentpart {
	margin: 0;
	padding: 10px 20px 20px;
}
.leftform {
	margin: 0;
	padding: 0 30px 0 0;
	float: left;
	width: 100%;
}
.leftform .formrow {
	margin: 0;
	padding: 0px 0px 10px 0;
	position: relative;
}
.leftform .fomrlabel {
	position: absolute;
	width: 165px;
}
.leftform .filedbox {
	padding: 0 0 0 180px;
	margin: 0;
}
.leftform .inputbox {
}
.red {
	color: #F00;
}
.grey70 {
	color: #4c4c4c;
}
.leftform p {
	padding-bottom: 20px;
}
.righttextpart {
	margin: 0;
	padding: 0 0px 0 0;
	float: left;
	width: 100%;
}
.righttextpart p {
	padding-bottom: 20px;
	line-height: 20px;
}
.righttextpart ul {
	padding: 0 0 10px 20px;
}
input[type="checkbox"] {
	width: auto;
}
.mobile-show {
	display: none;
}
input[type="radio"], input[type="checkbox"] {
	width: auto;
	background: none;
	display: inline-block;
	border: none;
	margin:0 0 10px 0;
	height:auto;
}
.success {
    background: #baefdc none repeat scroll 0 0;
    border: 1px solid #32c794;
    border-radius: 7px;
    color: #148a62;
    margin: 0 0 20px;
    padding: 10px;
}
.error {
	background: #fcebeb none repeat scroll 0 0;/* border: 1px solid #ff0000;*/
	border-radius: 7px;
	color: #ff0000;
	margin: 0 0 20px;
	padding: 10px;
}
.error ul {
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;
}
/* Video style code */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.greybar {
	background-color: #CCCCCC;
	height: 40px;
}
.terms-textarrow {
	background: url(../images/tearm-arrow-down.png) no-repeat center right;
	padding-right: 25px;
	display: block
}
.textarrow-up {
	background: url(../images/tearm-arrow-up.png) no-repeat center right;
	padding-right: 25px;
	display: block
}
.textsection .star-img {
	width: 30px;
}
.thanks-text {
	padding-top: 14px !important;
}
.gif-img {
	display: inline-block;
	vertical-align: top;
}
.fomrlabel {
	display: inline-block;
	font-family: SkyFontMedium;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
	vertical-align: top;
	width: 170px;
}
.formrow {
	margin: 0;
	padding: 0 0 10px 0
}
.control {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 18px;
}
.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 20px;
	width: 20px;
	background: #e6e6e6;
}
.control--radio .control__indicator {
	border-radius: 50%;
}
.control:hover input ~ .control__indicator,  .control input:focus ~ .control__indicator {
	background: #ccc;
}
.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,  .control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}
.control input:disabled ~ .control__indicator {
	background: #e6e6e6;
	opacity: 0.6;
	pointer-events: none;
}
.control__indicator:after {
	content: '';
	position: absolute;
	display: none;
}
.control input:checked ~ .control__indicator:after {
	display: block;
}
.control--checkbox .control__indicator:after {
	left: 8px;
	top: 4px;
	width: 3px;
	height: 8px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}
.withcheckbox {
	padding-left: 30px;
	position: relative;
}
.tearmcheckbox {
	position: absolute;
	top: -1px;
	width: auto !important;
	left: 0;
}
.ticket-dropdown {
	width: 50px;
	height: 40px;
}
 @media only screen and (max-width: 990px) {
.textsection {
	margin: 0;
	padding: 10px 0;
}
.rightparttext p {
	line-height: 20px;
}
.leftform .filedbox {
	padding: 0 0 0 149px;
}
.container {
	padding: 0 20px;
}
DIV.footercolumn {
	min-height: 160px;
	width: 33.33%;
}
}
 @media only screen and (max-width: 767px) {
.desktop-show {
	display: none
}
.mobile-show {
	display: block;
}
.leftimage {
	width: 100%;
}
.rightparttext {
	width: 100%;
}
.textsection {
	margin: 0;
}
.leftimage > img {
	width: 100%;
}
.leftform {
	width: 100%;
	padding: 0;
}
.righttextpart {
	padding: 0;
	width: 100%;
}
.thisisafooter {
	display: none;
}
.times_member {
	display: block;
}
.times_member_pc {
	display: none;
}
.righttextpart p {
	font-size: 10px;
	line-height: 14px;
	padding-bottom: 10px;
}
.righttextpart ul {
	font-size: 10px;
	line-height: 14px;
}
.leftform p {
	padding-bottom: 0;
}
.leftform .formrow {
	padding: 0 0 5px;
}
.greybar {
	background-color: #CCCCCC;
	height: 35px;
}
.bottom-button {
	bottom: 0;
	left: 20px;
	position: absolute;
	right: 20px;
}
}
 @media only screen and (max-width: 600px) {
.leftform .fomrlabel {
	position: relative;
	width: auto;
}
.leftform .filedbox {
	padding: 0;
}
.greybar {
	background-color: #CCCCCC;
	height: 30px;
}
}
 @media only screen and (max-height: 600px) {
.bottom-button {
	position: relative;
	left: 0;
}
}
 @media only screen and (max-width: 379px) {
.bottom-button {
	position: absolute;
	left: 20px;
}
}
.cinemaimgdiv { position: relative;}
.coming-soonimage,.prizedrawimage,.competitionimage { width:145px; height:145px; position:absolute; right:0; bottom:0;}
.hidden{
	display: none;
}
.playpopup { position:fixed;  left:0; top:0; right:0; bottom:0; background: rgba(0, 0, 0, 0.79); text-align: center; color: #000; z-index:25; display:none;}

.playpopup .spinner > div {  background-color: #000;}
